<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vivek Sharma</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="static/v.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/cloud.png" alt="cloud-img">
      <h1>I'm Vivek.</h1>
      <h2>a <span>pro</span>grammer.</h2>
      <img class="bottom-cloud" src="static/cloud.png" alt="cloud-img">
      <img src="static/mountain.png" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img src="static/vivek.png" height="200px" width="200px"alt="profile-img">
        <h2>Hello.</h2>
        <p class="intro">I'm a programmer and a mechanical engineer. I ❤️ tea and crafting.</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="computer-img" src="static/programming.gif" alt="computer-img">
          <h3>Desgin and Development</h3>
          <p>I started to learn code when I was 15 years old because I wanted to make my own softwares and videogames.</p>
        </div>
        <div class="skill-row">
          <img class="gears-img" src="static/gears.gif" alt="gears-img">
          <h3>Mechanical Engineer</h3>
          <p>I also like machines. So I also have a diploma in mechanical engineering.</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you love programming and crafting as much as I do.</h3>
        <p class="contact-massage">Love programming and crafting as much as I do? Let's  talk about how awesome they are! We code while we drink Tea!☕</p>
        <a class="btn" href="mailto:vivekshar2000@gmail.com">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.instagram.com/v_iv_ek__">Instagram</a>
      <a class="footer-link" href="https://twitter.com/V__i_v_e_k">Twitter</a>
      <!--<a class="footer-link" href="https://www.appbrewery.co/">Website</a>!-->
      <p class="copyright">© 2022 Vivek Sharma.</p>
    </div>


  </body>
</html>
